# üîç Data Type Diagnostic Tool
## Run this FIRST to identify correct numeric vs categorical columns

This notebook will help us identify:
1. Which `object` columns should actually be numeric
2. Which numeric columns are truly continuous vs categorical/binary
3. What problematic values exist in each column

---

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Load data
dt = pd.read_csv('data/Dataset.csv', low_memory=False)

print(f"Dataset Shape: {dt.shape}")
print(f"\nColumns: {len(dt.columns)}")

Dataset Shape: (121856, 40)

Columns: 40

---
## Step 1: Initial Data Types
---

In [2]:
print("Current Data Types:")
print("="*80)
for col in dt.columns:
    print(f"{col:35s} {str(dt[col].dtype):15s}")

Current Data Types:
================================================================================
ID                                  int64
Client_Income                       object
Car_Owned                           float64
Bike_Owned                          float64
Active_Loan                         float64
House_Own                           float64
Child_Count                         float64
Credit_Amount                       object
Loan_Annuity                        object
Accompany_Client                    object
Client_Income_Type                  object
Client_Education                    object
Client_Marital_Status               object
Client_Gender                       object
Loan_Contract_Type                  object
Client_Housing_Type                 object
Population_Region_Relative          object
Age_Days                            object
Employed_Days                       object
Registration_Days                   object
ID_Days                             object
Own_House_Age                       float64
Mobile_Tag                          int64
Homephone_Tag                       int64
Workphone_Working                   int64
Client_Occupation                   object
Client_Family_Members               float64
Cleint_City_Rating                  float64
Application_Process_Day             float64
Application_Process_Hour            float64
Client_Permanent_Match_Tag          object
Client_Contact_Work_Tag             object
Type_Organization                   object
Score_Source_1                      float64
Score_Source_2                      float64
Score_Source_3                      object
Social_Circle_Default               float64
Phone_Change                        float64
Credit_Bureau                       float64
Default                             int64

In [3]:
print("\nData Type Distribution:")
print(dt.dtypes.value_counts())

Data Type Distribution:
object     20
float64    15
int64       5
Name: count, dtype: int64

---
## Step 2: Detailed Column Analysis
This will show for EACH column:
- Current dtype
- Number of unique values
- Sample of actual values
- Whether it can be converted to numeric
---

In [4]:
def analyze_column(df, col):
    """Detailed analysis of a single column"""
    print(f"\n{'='*80}")
    print(f"Column: {col}")
    print(f"{'='*80}")
    
    # Basic info
    print(f"Current dtype: {df[col].dtype}")
    print(f"Null count: {df[col].isnull().sum():,} ({df[col].isnull().sum()/len(df)*100:.2f}%)")
    print(f"Unique values: {df[col].nunique():,}")
    
    # Sample non-null values
    sample_values = df[col].dropna().unique()[:10]
    print(f"\nSample values (first 10):")
    print(sample_values)
    
    # Value counts for low cardinality
    if df[col].nunique() <= 20:
        print(f"\nValue counts:")
        print(df[col].value_counts())
    
    # Try numeric conversion if object
    if df[col].dtype == 'object':
        print(f"\n--- NUMERIC CONVERSION TEST ---")
        try:
            numeric_test = pd.to_numeric(df[col], errors='coerce')
            successfully_converted = (~numeric_test.isna()).sum()
            total_non_null = df[col].notna().sum()
            conversion_rate = (successfully_converted / total_non_null * 100) if total_non_null > 0 else 0
            
            print(f"Can convert to numeric: {successfully_converted:,} / {total_non_null:,} ({conversion_rate:.1f}%)")
            
            if conversion_rate > 95:
                print(f"‚úÖ RECOMMENDATION: CONVERT TO NUMERIC")
                # Show what would become NaN
                problematic = df[col][numeric_test.isna() & df[col].notna()]
                if len(problematic) > 0:
                    print(f"\nProblematic non-numeric values:")
                    print(problematic.unique()[:10])
            elif conversion_rate > 50:
                print(f"‚ö†Ô∏è  MIXED TYPE - needs investigation")
                problematic = df[col][numeric_test.isna() & df[col].notna()]
                if len(problematic) > 0:
                    print(f"\nProblematic non-numeric values ({len(problematic)}):")
                    print(problematic.value_counts())
            else:
                print(f"‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL")
        except Exception as e:
            print(f"‚ùå Error testing numeric conversion: {e}")
    
    # For numeric columns, check distribution
    elif df[col].dtype in ['int64', 'float64']:
        print(f"\n--- NUMERIC STATISTICS ---")
        print(df[col].describe())
        
        # Check if it's actually binary/categorical
        if df[col].nunique() <= 10:
            print(f"\n‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)")
            print(f"This might be a categorical/binary flag, not continuous numeric")
            unique_vals = df[col].dropna().unique()
            print(f"Unique values: {sorted(unique_vals)}")
            
            # Check if binary (0/1)
            if set(unique_vals).issubset({0, 1, 0.0, 1.0}):
                print(f"‚úÖ This is a BINARY FLAG (0/1)")

# Run analysis on all columns
print("\n" + "#"*80)
print("# STARTING DETAILED COLUMN ANALYSIS")
print("#"*80)

for col in dt.columns:
    analyze_column(dt, col)

################################################################################
# STARTING DETAILED COLUMN ANALYSIS
################################################################################

================================================================================
Column: ID
================================================================================
Current dtype: int64
Null count: 0 (0.00%)
Unique values: 121,856

Sample values (first 10):
[12142509 12138936 12181264 12188929 12133385 12191614 12128086 12215264
 12159147 12130547]

--- NUMERIC STATISTICS ---
count    1.218560e+05
mean     1.216093e+07
std      3.517694e+04
min      1.210000e+07
25%      1.213046e+07
50%      1.216093e+07
75%      1.219139e+07
max      1.222186e+07
Name: ID, dtype: float64

================================================================================
Column: Client_Income
================================================================================
Current dtype: object
Null count: 3,607 (2.96%)
Unique values: 1,217

Sample values (first 10):
['6750' '20250' '18000' '15750' '33750' '11250' '13500' '12150' '27000'
 '8100']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 118,234 / 118,249 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['$']

================================================================================
Column: Car_Owned
================================================================================
Current dtype: float64
Null count: 3,581 (2.94%)
Unique values: 2

Sample values (first 10):
[0. 1.]

Value counts:
Car_Owned
0.0    77724
1.0    40551
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    118275.000000
mean          0.342854
std           0.474665
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Car_Owned, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.float64(0.0), np.float64(1.0)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: Bike_Owned
================================================================================
Current dtype: float64
Null count: 3,624 (2.97%)
Unique values: 2

Sample values (first 10):
[0. 1.]

Value counts:
Bike_Owned
0.0    78948
1.0    39284
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    118232.000000
mean          0.332262
std           0.471026
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Bike_Owned, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.float64(0.0), np.float64(1.0)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: Active_Loan
================================================================================
Current dtype: float64
Null count: 3,635 (2.98%)
Unique values: 2

Sample values (first 10):
[1. 0.]

Value counts:
Active_Loan
0.0    59208
1.0    59013
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    118221.000000
mean          0.499175
std           0.500001
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Active_Loan, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.float64(0.0), np.float64(1.0)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: House_Own
================================================================================
Current dtype: float64
Null count: 3,661 (3.00%)
Unique values: 2

Sample values (first 10):
[0. 1.]

Value counts:
House_Own
1.0    81798
0.0    36397
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    118195.000000
mean          0.692060
std           0.461644
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: House_Own, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.float64(0.0), np.float64(1.0)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: Child_Count
================================================================================
Current dtype: float64
Null count: 3,638 (2.99%)
Unique values: 14

Sample values (first 10):
[ 0.  1.  2.  3.  4.  5.  7.  8. 10.  6.]

Value counts:
Child_Count
0.0     82834
1.0     23431
2.0     10294
3.0      1430
4.0       167
5.0        34
6.0        12
7.0         4
14.0        4
10.0        3
8.0         2
19.0        1
12.0        1
9.0         1
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    118218.000000
mean          0.417779
std           0.728802
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          19.000000
Name: Child_Count, dtype: float64

================================================================================
Column: Credit_Amount
================================================================================
Current dtype: object
Null count: 3,632 (2.98%)
Unique values: 4,176

Sample values (first 10):
['61190.55' '15282' '59527.35' '53870.4' '133988.4' '13752' '128835'
 '60415.2' '45000' '16320.15']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 118,219 / 118,224 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['$']

================================================================================
Column: Loan_Annuity
================================================================================
Current dtype: object
Null count: 4,812 (3.95%)
Unique values: 10,858

Sample values (first 10):
['3416.85' '1826.55' '2788.2' '2295.45' '3547.35' '653.85' '3779.55'
 '3097.8' '1200.15' '1294.65']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 117,030 / 117,044 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['$' '#VALUE!']

================================================================================
Column: Accompany_Client
================================================================================
Current dtype: object
Null count: 1,746 (1.43%)
Unique values: 7

Sample values (first 10):
['Alone' 'Relative' 'Others' 'Kids' 'Partner' '##' 'Group']

Value counts:
Accompany_Client
Alone       97409
Relative    15748
Partner      4516
Kids         1334
Others        987
Group         104
##             12
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 120,110 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Client_Income_Type
================================================================================
Current dtype: object
Null count: 3,701 (3.04%)
Unique values: 8

Sample values (first 10):
['Commercial' 'Service' 'Retired' 'Govt Job' 'Student' 'Unemployed'
 'Maternity leave' 'Businessman']

Value counts:
Client_Income_Type
Service            61028
Commercial         27764
Retired            21043
Govt Job            8303
Student                8
Unemployed             6
Maternity leave        2
Businessman            1
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 118,155 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Client_Education
================================================================================
Current dtype: object
Null count: 3,645 (2.99%)
Unique values: 5

Sample values (first 10):
['Secondary' 'Graduation' 'Graduation dropout' 'Junior secondary'
 'Post Grad']

Value counts:
Client_Education
Secondary             83911
Graduation            28819
Graduation dropout     3960
Junior secondary       1455
Post Grad                66
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 118,211 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Client_Marital_Status
================================================================================
Current dtype: object
Null count: 3,473 (2.85%)
Unique values: 4

Sample values (first 10):
['M' 'W' 'S' 'D']

Value counts:
Client_Marital_Status
M    87349
S    17404
D     7556
W     6074
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 118,383 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Client_Gender
================================================================================
Current dtype: object
Null count: 2,413 (1.98%)
Unique values: 3

Sample values (first 10):
['Male' 'Female' 'XNA']

Value counts:
Client_Gender
Male      78463
Female    40977
XNA           3
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 119,443 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Loan_Contract_Type
================================================================================
Current dtype: object
Null count: 3,651 (3.00%)
Unique values: 2

Sample values (first 10):
['CL' 'RL']

Value counts:
Loan_Contract_Type
CL    107118
RL     11087
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 118,205 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Client_Housing_Type
================================================================================
Current dtype: object
Null count: 3,687 (3.03%)
Unique values: 6

Sample values (first 10):
['Home' 'Family' 'Office' 'Municipal' 'Rental' 'Shared']

Value counts:
Client_Housing_Type
Home         104870
Family         5783
Municipal      4248
Rental         1816
Office         1002
Shared          450
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 118,169 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Population_Region_Relative
================================================================================
Current dtype: object
Null count: 4,857 (3.99%)
Unique values: 83

Sample values (first 10):
['0.028663' '0.008575' '0.0228' '0.010556' '0.020713' '0.019101'
 '0.016612' '0.009175' '0.006008' '0.001417']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 116,988 / 116,999 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['@' '#']

================================================================================
Column: Age_Days
================================================================================
Current dtype: object
Null count: 3,600 (2.95%)
Unique values: 17,001

Sample values (first 10):
['13957' '14162' '16790' '23195' '11366' '13881' '21323' '22493' '20507'
 '14816']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 118,239 / 118,256 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['x']

================================================================================
Column: Employed_Days
================================================================================
Current dtype: object
Null count: 3,649 (2.99%)
Unique values: 9,950

Sample values (first 10):
['1062' '4129' '5102' '365243' '2977' '1184' '7889' '2263' '369' '389']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 118,190 / 118,207 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['x']

================================================================================
Column: Registration_Days
================================================================================
Current dtype: object
Null count: 3,614 (2.97%)
Unique values: 14,143

Sample values (first 10):
['6123' '7833' '5516' '3910' '113' '12617' '5455' '2834' '2933' '5165']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 118,225 / 118,242 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['x']

================================================================================
Column: ID_Days
================================================================================
Current dtype: object
Null count: 5,968 (4.90%)
Unique values: 5,963

Sample values (first 10):
['383' '21' '331' '775' '4043' '3910' '4855' '5280' '2665' '4053']

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 115,871 / 115,888 (100.0%)
‚úÖ RECOMMENDATION: CONVERT TO NUMERIC

Problematic non-numeric values:
['x']

================================================================================
Column: Own_House_Age
================================================================================
Current dtype: float64
Null count: 80,095 (65.73%)
Unique values: 55

Sample values (first 10):
[ 0.  6. 10. 14.  1.  3.  2.  7. 15. 31.]

--- NUMERIC STATISTICS ---
count    41761.000000
mean        12.157324
std         12.056079
min          0.000000
25%          5.000000
50%          9.000000
75%         15.000000
max         69.000000
Name: Own_House_Age, dtype: float64

================================================================================
Column: Mobile_Tag
================================================================================
Current dtype: int64
Null count: 0 (0.00%)
Unique values: 2

Sample values (first 10):
[1 0]

Value counts:
Mobile_Tag
1    121855
0         1
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    121856.000000
mean          0.999992
std           0.002865
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: Mobile_Tag, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.int64(0), np.int64(1)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: Homephone_Tag
================================================================================
Current dtype: int64
Null count: 0 (0.00%)
Unique values: 2

Sample values (first 10):
[1 0]

Value counts:
Homephone_Tag
0    97424
1    24432
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    121856.000000
mean          0.200499
std           0.400375
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Homephone_Tag, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.int64(0), np.int64(1)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: Workphone_Working
================================================================================
Current dtype: int64
Null count: 0 (0.00%)
Unique values: 2

Sample values (first 10):
[0 1]

Value counts:
Workphone_Working
0    87590
1    34266
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    121856.000000
mean          0.281201
std           0.449587
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Workphone_Working, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.int64(0), np.int64(1)]
‚úÖ This is a BINARY FLAG (0/1)

================================================================================
Column: Client_Occupation
================================================================================
Current dtype: object
Null count: 41,435 (34.00%)
Unique values: 18

Sample values (first 10):
['Sales' 'Realty agents' 'Laborers' 'Core' 'Drivers' 'Managers'
 'Accountants' 'High skill tech' 'Cleaning' 'HR']

Value counts:
Client_Occupation
Laborers              21024
Sales                 12136
Core                  10611
Managers               8099
Drivers                7150
High skill tech        4317
Accountants            3766
Medicine               3172
Security               2683
Cooking                2224
Cleaning               1722
Private service        1006
Low-skill Laborers      787
Secretaries             531
Waiters/barmen          511
Realty agents           280
HR                      206
IT                      196
Name: count, dtype: int64

--- NUMERIC CONVERSION TEST ---
Can convert to numeric: 0 / 80,421 (0.0%)
‚úÖ RECOMMENDATION: KEEP AS CATEGORICAL

================================================================================
Column: Client_Family_Members
================================================================================
Current dtype: float64
Null count: 2,410 (1.98%)
Unique values: 15

Sample values (first 10):
[ 2.  4.  1.  3.  5.  6.  7.  9. 10. 12.]

Value counts:
Client_Family_Members
2.0     61652
1.0     26213
3.0     20434
4.0      9583
5.0      1349
6.0       157
7.0        32
8.0        11
9.0         4
10.0        3
12.0        3
16.0        2
13.0        1
14.0        1
15.0        1
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    119446.000000
mean          2.154329
std           0.912686
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          16.000000
Name: Client_Family_Members, dtype: float64

================================================================================
Column: Cleint_City_Rating
================================================================================
Current dtype: float64
Null count: 2,409 (1.98%)
Unique values: 3

Sample values (first 10):
[2. 3. 1.]

Value counts:
Cleint_City_Rating
2.0    88949
3.0    17043
1.0    13455
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    119447.000000
mean          2.030038
std           0.504407
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: Cleint_City_Rating, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.float64(1.0), np.float64(2.0), np.float64(3.0)]

================================================================================
Column: Application_Process_Day
================================================================================
Current dtype: float64
Null count: 2,428 (1.99%)
Unique values: 7

Sample values (first 10):
[6. 3. 4. 2. 5. 1. 0.]

Value counts:
Application_Process_Day
2.0    20907
3.0    20116
1.0    19712
4.0    19668
5.0    19613
6.0    13125
0.0     6287
Name: count, dtype: int64

--- NUMERIC STATISTICS ---
count    119428.000000
mean          3.159736
std           1.759045
min           0.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           6.000000
Name: Application_Process_Day, dtype: float64

‚ö†Ô∏è  LOW CARDINALITY (‚â§10 unique values)
This might be a categorical/binary flag, not continuous numeric
Unique values: [np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0)]


---
## Step 3: Summary of Recommendations
---

In [5]:
print("\n" + "="*80)
print("COLUMN TYPE RECOMMENDATIONS")
print("="*80)

should_be_numeric = []
truly_numeric = []
binary_flags = []
truly_categorical = []

for col in dt.columns:
    if col == 'Default':
        continue
        
    if dt[col].dtype == 'object':
        # Test numeric conversion
        try:
            numeric_test = pd.to_numeric(dt[col], errors='coerce')
            conversion_rate = ((~numeric_test.isna()).sum() / dt[col].notna().sum() * 100)
            
            if conversion_rate > 95:
                should_be_numeric.append((col, conversion_rate))
            else:
                truly_categorical.append(col)
        except:
            truly_categorical.append(col)
    
    elif dt[col].dtype in ['int64', 'float64']:
        unique_vals = dt[col].dropna().unique()
        if len(unique_vals) <= 2 and set(unique_vals).issubset({0, 1, 0.0, 1.0}):
            binary_flags.append(col)
        else:
            truly_numeric.append(col)

print(f"\n‚úÖ SHOULD BE CONVERTED TO NUMERIC ({len(should_be_numeric)} columns):")
for col, rate in should_be_numeric:
    print(f"  - {col:35s} ({rate:.1f}% convertible)")

print(f"\n‚úÖ ALREADY NUMERIC - CONTINUOUS ({len(truly_numeric)} columns):")
for col in truly_numeric:
    print(f"  - {col}")

print(f"\n‚úÖ ALREADY NUMERIC - BINARY FLAGS ({len(binary_flags)} columns):")
for col in binary_flags:
    print(f"  - {col}")

print(f"\n‚úÖ TRULY CATEGORICAL ({len(truly_categorical)} columns):")
for col in truly_categorical:
    print(f"  - {col}")

print(f"\n" + "="*80)
print(f"TOTAL: {len(should_be_numeric) + len(truly_numeric) + len(binary_flags)} NUMERIC")
print(f"TOTAL: {len(truly_categorical)} CATEGORICAL")
print("="*80)

================================================================================
COLUMN TYPE RECOMMENDATIONS
================================================================================

‚úÖ SHOULD BE CONVERTED TO NUMERIC (9 columns):
  - Client_Income                       (100.0% convertible)
  - Credit_Amount                       (100.0% convertible)
  - Loan_Annuity                        (100.0% convertible)
  - Population_Region_Relative          (100.0% convertible)
  - Age_Days                            (100.0% convertible)
  - Employed_Days                       (100.0% convertible)
  - Registration_Days                   (100.0% convertible)
  - ID_Days                             (100.0% convertible)
  - Score_Source_3                      (100.0% convertible)

‚úÖ ALREADY NUMERIC - CONTINUOUS (12 columns):
  - ID
  - Child_Count
  - Own_House_Age
  - Client_Family_Members
  - Cleint_City_Rating
  - Application_Process_Day
  - Application_Process_Hour
  - Score_Source_1
  - Score_Source_2
  - Social_Circle_Default
  - Phone_Change
  - Credit_Bureau

‚úÖ ALREADY NUMERIC - BINARY FLAGS (7 columns):
  - Car_Owned
  - Bike_Owned
  - Active_Loan
  - House_Own
  - Mobile_Tag
  - Homephone_Tag
  - Workphone_Working

‚úÖ TRULY CATEGORICAL (11 columns):
  - Accompany_Client
  - Client_Income_Type
  - Client_Education
  - Client_Marital_Status
  - Client_Gender
  - Loan_Contract_Type
  - Client_Housing_Type
  - Client_Occupation
  - Client_Permanent_Match_Tag
  - Client_Contact_Work_Tag
  - Type_Organization

================================================================================
TOTAL: 28 NUMERIC
TOTAL: 11 CATEGORICAL
================================================================================

---
## Step 4: Create Type Mapping Dictionary
This can be copied directly into the preprocessing code
---

In [6]:
print("\n# Copy this into your preprocessing code:")
print("# " + "="*70)
print("\nCOLUMN_TYPES = {")
print("    'force_numeric': [")
for col, rate in should_be_numeric:
    print(f"        '{col}',  # {rate:.1f}% convertible")
print("    ],")
print("    'continuous_numeric': [")
for col in truly_numeric:
    print(f"        '{col}',")
print("    ],")
print("    'binary_flags': [")
for col in binary_flags:
    print(f"        '{col}',")
print("    ],")
print("    'categorical': [")
for col in truly_categorical:
    print(f"        '{col}',")
print("    ]")
print("}")

# Copy this into your preprocessing code:
# ======================================================================

COLUMN_TYPES = {
    'force_numeric': [
        'Client_Income',  # 100.0% convertible
        'Credit_Amount',  # 100.0% convertible
        'Loan_Annuity',  # 100.0% convertible
        'Population_Region_Relative',  # 100.0% convertible
        'Age_Days',  # 100.0% convertible
        'Employed_Days',  # 100.0% convertible
        'Registration_Days',  # 100.0% convertible
        'ID_Days',  # 100.0% convertible
        'Score_Source_3',  # 100.0% convertible
    ],
    'continuous_numeric': [
        'ID',
        'Child_Count',
        'Own_House_Age',
        'Client_Family_Members',
        'Cleint_City_Rating',
        'Application_Process_Day',
        'Application_Process_Hour',
        'Score_Source_1',
        'Score_Source_2',
        'Social_Circle_Default',
        'Phone_Change',
        'Credit_Bureau',
    ],
    'binary_flags': [
        'Car_Owned',
        'Bike_Owned',
        'Active_Loan',
        'House_Own',
        'Mobile_Tag',
        'Homephone_Tag',
        'Workphone_Working',
    ],
    'categorical': [
        'Accompany_Client',
        'Client_Income_Type',
        'Client_Education',
        'Client_Marital_Status',
        'Client_Gender',
        'Loan_Contract_Type',
        'Client_Housing_Type',
        'Client_Occupation',
        'Client_Permanent_Match_Tag',
        'Client_Contact_Work_Tag',
        'Type_Organization',
    ]
}

---
## Step 5: Check for Problematic Values
---

In [7]:
print("\n" + "="*80)
print("PROBLEMATIC VALUES CHECK")
print("="*80)

# Check object columns that should be numeric
for col, rate in should_be_numeric:
    numeric_test = pd.to_numeric(dt[col], errors='coerce')
    problematic = dt[col][numeric_test.isna() & dt[col].notna()]
    
    if len(problematic) > 0:
        print(f"\n{col}:")
        print(f"  Problematic values: {len(problematic)}")
        print(f"  Unique problematic: {problematic.nunique()}")
        print(f"  Examples: {problematic.unique()[:10]}")

================================================================================
PROBLEMATIC VALUES CHECK
================================================================================

Client_Income:
  Problematic values: 15
  Unique problematic: 1
  Examples: ['$']

Credit_Amount:
  Problematic values: 5
  Unique problematic: 1
  Examples: ['$']

Loan_Annuity:
  Problematic values: 14
  Unique problematic: 2
  Examples: ['$' '#VALUE!']

Population_Region_Relative:
  Problematic values: 11
  Unique problematic: 2
  Examples: ['@' '#']

Age_Days:
  Problematic values: 17
  Unique problematic: 1
  Examples: ['x']

Employed_Days:
  Problematic values: 17
  Unique problematic: 1
  Examples: ['x']

Registration_Days:
  Problematic values: 17
  Unique problematic: 1
  Examples: ['x']

ID_Days:
  Problematic values: 17
  Unique problematic: 1
  Examples: ['x']

Score_Source_3:
  Problematic values: 1
  Unique problematic: 1
  Examples: ['&']

---
## ‚úÖ Next Steps

After running this diagnostic:
1. Review the recommendations above
2. Copy the `COLUMN_TYPES` dictionary
3. Share the results so I can update the preprocessing code
4. We'll create the final preprocessing pipeline with correct types

---